doctype hyml
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(content ="yes" name="apple-mobile-web-app-capable")
    meta(content ="black" name="apple-mobile-web-app-status-bar-style")
    meta(content ="telephone=no" name="format-detection")
    title #{title}
    link(rel="stylesheet",type="text/css",href="/jt/css/bootstrap.min.css")
    link(rel="stylesheet",type="text/css",href="/jt/css/login.css")
  body
    div.container.hidden-sm.hidden-xs.hidden-md
      div.row
        div.col-lg-12
          img.img-responsive.logo(src="/jt/images/login_pc.jpg")
    div.container-fluid.hidden-xs.hidden-lg
      div.row
        div.col-sm-12.col-md-12.no_padding
          img.img-responsive.logo(src="/jt/images/login_pc.jpg")
    div.container-fluid.hidden-sm.hidden-md.hidden-lg
      div.row
        div.col-xs-12.no_padding
          img.img-responsive.logo(src="/jt/images/login_phone.jpg")
    div.container-fluid.message.max_width
      div.row
        div.col-xs-12.col-sm-6.col-md-8.col-lg-8.col-md-offset-2.col-lg-offset-2.col-sm-offset-3
          form.form-horizontal
            div.form-group.has-feedback.space
              div.col-xs-10.col-sm-10.col-md-6.col-md-offset-3.col-xs-offset-1.input-group
                span.input-group-addon.inBlock
                  img.login_img(src="/jt/images/user.jpg")
                input#id.form-control.input-lg(type="text",placeholder="账号")
            div.form-group.has-feedback.space
              div.col-xs-10.col-sm-10.col-md-6.col-md-offset-3.col-xs-offset-1.input-group
                span.input-group-addon.inBlock
                  img.login_img(src="/jt/images/password.jpg")
                input#password.form-control.input-lg(type="password",placeholder="密码")
            div.form-group.space.identifying
              div.col-xs-8.col-sm-8.col-md-5.col-md-offset-3.col-xs-offset-1.col-sm-offset-1.input-group
                input#identifying.form-control.input-lg(type="text",placeholder="请输入验证码")
                div.input-group-addon.safe.no_padding
                  img(src="/jt/images/login_pc.jpg")
              div.reload-pc.hidden-sm.hidden-xs
                img.reload_img(src="/jt/images/reload.png")      
              div.reload-phone.hidden-md.hidden-lg
                img.reload_img(src="/jt/images/reload.png")
            div.form-group
              div.col-xs-4.col-sm-4.col-md-3.col-md-offset-3.col-xs-offset-1.col-sm-offset-1.no_padding
                div.checkbox
                  label
                    input(type="checkbox")
                    span.remember 记住我
              div.col-xs-4.col-sm-4.col-md-3.col-sm-offset-2.col-md-offset-0.col-xs-offset-2.no_padding
                div.checkbox
                  a.forget(href="#") 注册
            div.form-group.no-space
              div.col-xs-offset-1.col-xs-10.no_padding.col-md-6.col-md-offset-3
                button#login.btn.btn-primary.btn-lg.btn-block.login_in(type="submit") 登录
    div.container-fluid.alert_box
        div.row
            div.alert.alert-danger.col-xs-10.col-sm-10.col-md-6.col-lg-4.col-md-offset-3.col-xs-offset-1.col-lg-offset-4.alert_message 账号或密码错误！！
    div.bottom_box.hidden-xs @有缘在线
    script(type="text/javascript",src="/jt/js/jq.min.js")
    script(type="text/javascript",src="/jt/js/login.js")  
    
  