<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	title Document
	link(rel="stylesheet",type="text/css",href="/jt/css/bootstrap.min.css")
	link(rel="stylesheet",type="text/css",href="/jt/css/flex.css")
	link(rel="stylesheet",type="text/css",href="/jt/css/myblog.css")
body
	//- 头部
	div.head_box
		//- 手机端
		div.blur_backimg
		div.show_box(flex="dir:left cross:center")
			div.photo_box(flex-box="0")
				img.my_photo(src="jt/images/1.jpeg")
			div.user_name(flex-box="0") Half
		//- pc端



	//-我的分类栏
	div#kind_list {{message}}

	srcipt(type="text/javascript",src="/jt/js/vue.js")
	script(type="text/javascript",src="/jt/js/jq.min.js")
	script(type="text/javascript",src="/jt/js/bootstrap.min.js")
	script(type="text/javascript",src="/jt/js/my.js")
	