.head_box {
    position: relative;
    height: 0;
    padding-bottom: 25%;
    overflow: hidden;
    border-bottom:1px solid rgba(0,0,0,0.3);
}

.blur_backimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/head_underimg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 30%;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px)
}

.show_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.photo_box {
    height: 0;
    width: 21%;
    padding-bottom: 21%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 1px orange;
    margin-left: 4%;
}

.my_photo {
    display: block;
    width: 100%;
}

.user_name{
	font-size: 2rem;
	margin-left: 5%;
	width: 25%;
	text-align: center;
	border-radius: 8px;
	background: rgba(0,0,0,0.55);
	color: white;
}

